

.list {
  height: 100vh;
  padding-left: 0;  
}



.__card {
  float: left;
  width: 250px;
  height: 150px;
  background-color: rgba(238, 238, 238, 0);
  margin: 10px;

}



/* .star-enter {

  top: 0;
  left: 0;
  transform: translateY(240px) translateX(299px) scale(1.75);
}
.star-enter-active {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 240px;
  left: 299px;
}

.star-exit {


  top: 240px;
  left: 299px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.star-exit-active {
  top: 0;
  left: 0;
 
} */






/* .__card:nth-child(5n) {
  margin-right: 0;
}
.__card.ani0 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani1 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani2 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani3 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani4 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani5 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani6 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani7 {
  position: relative;
  top: 0;
  right: 0;
}
.__card.ani8 {
  position: relative;
  top: 0;
  right: 0;
}

.__card.ani9 {
  position: relative;
  top: 0;
  right: 0;
} */



.__card {
  perspective: 1000;
  -webkit-perspective: 1000;
  background: rgba(204, 204, 204, 0);
}
/* entire container, keeps perspective */


/* flip the pane when clicked */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
} */

.flip-container, .front, .back {
width: 250px;
height: 150px;
}

.flip-container {
  background-color: rgba(204, 204, 204, 0);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
  position: relative;
  background-color: rgba(204, 204, 204, 0);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}



/* front pane, placed above back */
.front {
  z-index: 2;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
 
}
