
/* 
.list {
  max-height: 200vh;
  padding-left: 0;  
} */



.__card {
 
  perspective: 1000;
  transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  float: left;
  width: 350px;
  height: 200px;
  background-color: rgba(238, 238, 238, 0);
  margin: 0 20px 0 0;
  overflow: show;
 position: relative;
 
}










.__card {
  perspective: 1000;
  -webkit-perspective: 1000;
  background: rgba(204, 204, 204, 0);
}
/* entire container, keeps perspective */


/* flip the pane when clicked */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
} */

.flip-container, .front, .back {
  width: 350px;
  height: 200px;
  background-size: '100%'
}

.flip-container {
  background-color: rgba(204, 204, 204, 0);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
  position: relative;
  background-color: rgba(204, 204, 204, 0);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
  background-size: '100%'
}

.front:hover {
  width: 700px;
  background-position: right;
}





/* front pane, placed above back */
.front {
  z-index: 2;

}

/* back, initially hidden pane */
.back {
  transform:  rotateY(180deg);
  -webkit-transform: rotateY(180deg);

}

.zoomed {
  animation: zoomBG 6s;

}


  @keyframes zoomBG {
    0%   {background-size: 100%; }
    25%  {background-size: 160%;
          background-position: top right }
    50%  {background-size: 160%; 
      background-position: top right}
    75%  {background-size: 160%; 
      background-position: top right}
    85% {background-size: 160%; 
      background-position: top right}
    100% {background-size: 100%; }
}


.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.star {
  right: -100vw!important;
  top: -100vh!important
}
.star-enter {
  transform: translateX('100vw') translateY('100vh')!important
}
.star-enter-active {
  right: 0!important;
  top: 0!important
}
.star-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star-exit-active {
  right: -100vw!important;
  top: -100vw!important
}

.star1 {
  right: -100vw!important;
  top: -100vh!important
}
.star1-enter {
  transform: translateX('100vw') translateY('100vh')!important
}
.star1-enter-active {
  right: 0!important;
  top: 0!important
}
.star1-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star1-exit-active {
  right: -100vw!important;
  top: -100vw!important
}

.star2 {
  right: -100vw!important;
  top: -100vh!important
}
.star2-enter {
  transform: translateX('100vw') translateY('100vh')!important
}
.star2-enter-active {
  right: 0!important;
  top: 0!important
}
.star2-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star2-exit-active {
  right: -100vw!important;
  top: -100vw!important
}