
/* 
.list {
  max-height: 200vh;
  padding-left: 0;  
} */

body {
  background-image: url('HouseStarkBG.jpg')!important;
  background-size: 'contain'!important
}



.__card {
 
  perspective: 1000;
  transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  float:left;
  width: 350px;
  height: 200px;
  background-color: rgba(238, 238, 238, 0);
  margin: 0 20px 0 0;
  overflow: show;

 
}

.card {
  border : none;
    background-color : rgba(238, 238, 238, 0);
}

#root > div > div > div > div.page-content > div > div.row.row > div.col.col-lg-9 > div > table > tbody > tr:nth-child(1) {
  background-color : rgba(238, 238, 238, 0);
}

#root > div > div > div > div.page-content > div > div.row.row > div.col.col-lg-9 > div > table > tbody {
  background-color : rgba(238, 238, 238, 0);
}

.star1m {
  position: absolute;
  float: left;
  box-shadow: none!important;
  border: none
}

.armylist {
  color: whitesmoke;
  font-size: '0.2em'!important;
  text-align: 'left';
  
}

.__statcard {
   border-bottom: 1px solid;
  width: 190px;
  height: 260px;
  

    box-shadow: 5px 10px #161010;

}










.__card {
  perspective: 1000;
  -webkit-perspective: 1000;
  background: rgba(204, 204, 204, 0);
}
/* entire container, keeps perspective */


/* flip the pane when clicked */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
} */

.flip-container, .front, .back {
  width: 190px;
  height: 260px;
  background-size: '100%'
}

.flip-container {
  background-color: rgba(204, 204, 204, 0);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
  position: relative;
  background-color: rgba(204, 204, 204, 0);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
  background-size: '100%'
}

.front:hover {
  
  background-position: right;
}





/* front pane, placed above back */
.front {
  z-index: 2;
 
}

/* back, initially hidden pane */
.back {
  transform:  rotateY(180deg);
  -webkit-transform: rotateY(180deg);

}

.zoomed {
  animation: zoomBG 6s;

}


  @keyframes zoomBG {
    0%   {background-size: 100%; }
    25%  {background-size: 160%;
          background-position: top right }
    50%  {background-size: 160%; 
      background-position: top right}
    75%  {background-size: 160%; 
      background-position: top right}
    85% {background-size: 160%; 
      background-position: top right}
    100% {background-size: 100%; }
}


.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.star {
  right: -100vw!important;
  top: -100vh!important
}
.star-enter {
  transform: translateX('100vw') translateY('100vh')!important
}
.star-enter-active {
  right: 0!important;
  top: 0!important
}
/* .star-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star-exit-active {
  right: -100vw!important;
  top: -100vw!important
} */

.star1 {
  right: -100vw!important;
  top: -100vh!important
}
.star1-enter {
  transform: translateX('100vw') translateY('100vh')!important
}
.star1-enter-active {
  right: 0!important;
  top: 0!important
}
/* .star1-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star1-exit-active {
  right: -100vw!important;
  top: -100vw!important
} */



.star1C {
  right: -600px!important;
  top: -600px!important
}
.star1C-enter {
  transform: translateX('550px')!important;
  transform: translateY('550px')!important
}
.star1C-enter-active {
  right: 60px!important;
  top: 70px!important
}
/* .star2-exit {
  transform: translateX('-100vw') translateY('-100vh')!important
}
.star2-exit-active {
  right: -100vw!important;
  top: -100vw!important
} */


.star1N0 {
  right: -310px!important;
  top: -310px!important;
}
.star1N0-enter {
  transform: translateX('290px') translateY('310px')!important
}
.star1N0-enter-active {
  right: 30px!important;
  top: 0px!important;
}

.star1N1 {
  right: -610px!important;
  top: -610px!important;
}
.star1N1-enter {
  transform: translateX('310px') translateY('550px')!important
}
.star1N1-enter-active {
  right: -170px!important;
  top: -260px!important;
  padding: 0!important
}

.star1N2 {
  right: -610px!important;
  top: -610px!important;
}
.star1N2-enter {
  transform: translateX('510px') translateY('7550px')!important
}
.star1N2-enter-active {
  right: 20px!important;
  top: -520px!important;
  padding: 0!important
}

.star10 {
  right: -610px!important;
  top: -610px!important;
}
.star10-enter {
  transform: translateX('-710px') translateY('-550px')!important
}
.star10-enter-active {
  right: -35px!important;
  top: -250px!important;
  padding: 0!important
}

.star11 {
  right: -610px!important;
  top: -610px!important;
}
.star11-enter {
  transform: translateX('710px') translateY('-550px')!important
}
.star11-enter-active {
  right: -35px!important;
  top: -250px!important;
  padding: 0!important
}

.star12{
  right: -610px!important;
  top: -610px!important;
}
.star12-enter {
  transform: translateX('410px') translateY('550px')!important
}
.star12-enter-active {
  right: -265px!important;
  top: -510px!important;
  padding: 0!important
}

.star14 {
  right: -610px!important;
  top: -610px!important;
}
.star14-enter {
  transform: translateX('310px') translateY('550px')!important
}
.star14-enter-active {
  right: -740px!important;
  top: -1030px!important;
  padding: 0!important
}

.star13 {
  right: -610px!important;
  top: -610px!important;
}
.star13-enter {
  transform: translateX('310px') translateY('550px')!important
}
.star13-enter-active {
  right: -505px!important;
  top: -770px!important;
  padding: 0!important;
}

.star15 {
  right: -610px!important;
  top: -610px!important;
}
.star15-enter {
  transform: translateX('310px') translateY('550px')!important
}
.star15-enter-active {
  right: -965px!important;
  top: -1290px!important;
  padding: 0!important;
}

.star10 {
  right: -610px!important;
  top: -610px!important;
}
.star10-enter {
  transform: translateX('310px') translateY('550px')!important
}
.star10-enter-active {
  right: 0px!important;
  top: -260px!important;
  padding: 0!important
}


/* /////////MOBILE */


.star1Cm {
  right: -600px!important;
  top: -600px!important
}
.star1Cm-enter {
  transform: translateX('550px')!important;
  transform: translateY('550px')!important
}
.star1Cm-enter-active {
  right: 0!important;
  top: 0!important
}

.star1N0c {
  right: 600px!important;
  top: -600px!important
}
.star1N0c-enter {
  transform: translateX('550px')!important;
  transform: translateY('550px')!important
}
.star1N0c-enter-active {
  right: 0!important;
  top: 0!important
}

.star1N1c {
  right: -600px!important;
  top: -600px!important
}
.star1N1c-enter {
  transform: translateX('550px')!important;
  transform: translateY('550px')!important
}
.star1N1c-enter-active {
  right: 0!important;
  top: 0!important
}

#root > div > div > div > div.page-content > div > div:nth-child(2) > div.col.col-md-10 > div > table > tbody > tr:nth-child(1) {
  height: 410px!important
}

.NCUtitle  li {
  color: whitesmoke!important;
  font-size: '0.8em'!important
}