.mdi::before {
  font-size: 24px;
  line-height: 14px;
}
.btn .mdi::before {
  position: relative;
  top: 4px;
}
.btn-xs .mdi::before {
  font-size: 18px;
  top: 3px;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
  width: 18px;
}
.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}
.nav .mdi::before {
  position: relative;
  top: 4px;
}
.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #FFF;
}
.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb a:hover span {
  text-decoration: underline;
}
.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}
.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {

  background-size: cover;
  background-repeat: 'no-repeat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%vw;
  height: 100vh;
}

 
#starfield {
     
  height:100vh;
  width: 100vw;
  position:relative;
  display:block;
  padding:0;
  margin:0 auto;


 }

 .navbar {
  background-color: transparent !important;
  color:white;
  display: inline-block;
  
}

.nav-link {
    color:rgb(240, 235, 235) !important;
    font-size: 1em;
    margin-left:2em;
    margin-right:1em;
}

.namediv {
  line-height: 0.8em;
  position:absolute;
  width:500px;
  left: calc(54% - 150px);
  bottom: 35%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2.5em;
  color: rgb(240, 235, 235);
  display: none;
}

 .dot {

      margin:0;
      padding:0;
      height: 3px;
      width: 3px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      -moz-box-shadow: 0px 0px 30px 2px rgb(163, 235, 235);
     -webkit-box-shadow: 0px 0px 30px 2px rgb(163, 235, 235);
     box-shadow: 0px 0px 30px 2px rgb(163, 235, 235);
 }

 .finaldot {
     display: none;
 }

 body {
     margin:0;
     padding:0;


 }

 @keyframes shadowPulse {
  0% {
      box-shadow: 0px 0px 30px 2px rgb(163, 235, 235);
      height: 3px;
      width: 3px;
  }

  40% {
      box-shadow: 0px 0px 40px 140px whitesmoke;
  }

  100% {
      box-shadow: 0px 60px 30px 2px rgb(19, 17, 17);
      height: 0px;
      width: 0px;
  }
}

.name {
  font-size: 2em;

}

.title {
  margin-top: 0.2em;
  padding:0;
  font-family: 'Times New Roman', Times, italic;
 font-size: 0.5EM;
}

.shadow-pulse {
  animation-name: shadowPulse;
  animation-duration: 8.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
      opacity: 0.0;
  }

  100% {
      opacity: 1.0;
  }
}

.info {
  margin:0;
  padding:0;

  animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;

  position: relative;
  top: 40%;
}


.hardcover_front1 {
  background:
          radial-gradient(black 15%, transparent 16%) 0 0,
          radial-gradient(black 15%, transparent 16%) 8px 8px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
          background-color:#282828;
          background-size:16px 16px;
}

.hardcover_front2 {
  background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
            background-color:#282828;
            background-size:16px 16px;
}



#aboutme {
 
  padding: 0;
  margin: 0;
  top: 30%;
  left: calc(50% - 120px);
  background-image: url('/img/galaxy.jpg');
  background-size:contain;
  background-repeat: no-repeat;
}

#contact {
 
  padding: 0;
  margin: 0;
  top: 70%;
  left: 80%;
  background-image: url('/img/whitegalaxy.gif');
  background-size:contain;
  background-repeat: no-repeat;
}

#portfolio {
 
  padding: 0;
  margin: 0;
  top: 70%;
  left: 10%;
  background-image: url('/img/redgalaxy.gif');
  background-size:contain;
  background-repeat: no-repeat;
}

#trending {

  padding: 0;
  margin: 0;
  top: 40%;
  left: 65%;
  background-image: url('/img/purplegalaxy.gif');
  background-size:contain;
  background-repeat: no-repeat;
}

#stockprices {
 
  padding: 0;
  margin: 0;
  top: 40%;
  left: 20%;
  background-image: url('/img/greengalaxy.gif');
  background-size:contain;
  background-repeat: no-repeat;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* {
margin: 0;
padding: 0;
}

::before,
::after {
content: "";
}


body {
height: 100vh;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow:hidden;
}

html {
font-size: 100%;
;
}

body {
background: #ecf0f1;
color: #34495e;
font-family: 'Lato', 'Arial', sans-serif;
font-weight: 400;
line-height: 1.2;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
color: #2c3e50;
text-decoration: none;
}

.btn {
display: inline-block;
text-transform: uppercase;
border: 2px solid #2c3e50;
margin-top: 100px; 
font-size: 0.7em;
font-weight: 700;
padding: 0.1em 0.4em;
text-align: center;
-webkit-transition: color 0.3s, border-color 0.3s;
-moz-transition: color 0.3s, border-color 0.3s;
transition: color 0.3s, border-color 0.3s;
}


.btn:hover {
border-color: #16a085;
color: #16a085;
}

body {
background-color:black;
}


/* basic grid, only for this demo */

.hardcover_front1 img {
width:100%;
height:200%;
}

.hardcover_front2 img {
width:100%;
height:200%;
}

.align {
position:absolute;
clear: both;
margin:0;
padding:0;
width: 50%;
height:100%;
  left:0;
  top:0;
}

.align2 {
position:absolute;
clear: both;
margin:0;
padding:0;
width: 50%;
height:100%;
  right:0;
  top:0;
}


.align > li {
width: 100%;
min-height: 100%;
padding:0;
margin:0;
display: inline-block;
left:0;

}

.align2 > li {
width: 100%;
min-height: 100%;
padding:0;
margin:0;
display: inline-block;
right:0;

}

#left_cover {
position:relative;
width:100%;
height:100%;
margin:0;
left:0;
  background-color:red;
  top:0;
}

#right_cover {
position:relative;
width:100%;
height:100%;
margin:0;
right:0;
  background-color:yellow;
  top:0;

}

/* ///////////////////////////////////////////////////

HARDCOVER
Table of Contents

1. container
2. background & color
3. opening cover, back cover and pages
4. position, transform y transition
5. events
6. Bonus
- Cover design
- Ribbon
- Figcaption
7. mini-reset

/////////////////////////////////////////////////////*/

/*
1. container
*/

.component {
width:100%;
height:100%;
padding:0;
margin:0;
}

.book {
position: absolute;
left:0;
margin:0;
padding:0;
width: 100%; 
height: 100%;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.book2 {
position: absolute;
right:0;
margin:0;
padding:0;
width: 100%; 
height: 100%;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}


/* HARDCOVER FRONT */
.hardcover_front2 li:first-child {
background-color: red;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}



/* thickness of cover */






/* .hardcover_front1 {
-webkit-transform: rotateY(-14deg) translateZ(8px);
-moz-transform: rotateY(-14deg) translateZ(8px);
transform: rotateY(-14deg) translateZ(8px);
z-index: 100;
}

.hardcover_front2 {
-webkit-transform: rotateY(14deg) translateZ(8px);
-moz-transform: rotateY(14deg) translateZ(8px);
transform: rotateY(14deg) translateZ(8px);
z-index: 100;
} */


/*
4. position, transform & transition
*/

.hardcover_front1,
.hardcover_front2,
.book_spine,
.hardcover_front1 li,
.hardcover_back li,
.book_spine li {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.hardcover_animation1 {
-webkit-transform-origin: -30% 100%;
-moz-transform-origin: -30% 100%;
transform-origin: -30% 100%;
}

.hardcover_animation2 {
-webkit-transform-origin: 130% 100%;
-moz-transform-origin: 130% 100%;
transform-origin: 130% 100%;
}

.hardcover_animation1 {
-webkit-transition: all 1.8s ease-in;
-moz-transition: all 1.8s ease-in;
transition: all 1.8s ease-in;
}

.hardcover_animation2 {
-webkit-transition: all 1.8s ease-in;
-moz-transition: all 1.8s ease-in;
transition: all 1.8s ease-in;
}


.hardcover_animation1 {
animation-iteration-count: 1;
-webkit-transform: rotateY(-90deg) translateZ(0);
-moz-transform: rotateY(-90deg) translateZ(0);
transform: rotateY(-90deg) translateZ(0);
z-index: 0;
}

.hardcover_animation2 {
animation-iteration-count: 1;
-webkit-transform: rotateY(90deg) translateZ(0);
-moz-transform: rotateY(90deg) translateZ(0);
transform: rotateY(90deg) translateZ(0);
z-index: 0;
}








/* Media Queries */
@media screen and (max-width: 37.8125em) {
.align > li {
  width: 100%;
  height:100%;
  height: auto;
  padding: 0;
  margin:0;
}

.book {
  margin: 0 auto;
}


}

.hero-logo-circles {
  position:absolute;
  margin:0;
  left:calc(50vw - 160px);
  padding-top:calc(50vh - 160px);
  width:366px;
  height:100vh;
  display: block;
  z-index: 3;
  
}

.color {
    max-width:320px;
    max-height:320px;
}


@-webkit-keyframes spin1 {
0% { transform-origin: center; -webkit-transform: rotate(0deg);}
100% {transform-origin: center; -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% {transform-origin: center; -moz-transform: rotate(0deg);}
100% {transform-origin: center; -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% {transform-origin: center; -o-transform: rotate(0deg);}
100% {transform-origin: center; -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% {transform-origin: center; -ms-transform: rotate(0deg);}
100% {transform-origin: center; -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% {transform-origin: center; transform: rotate(0deg);}
100% {transform-origin: center; transform: rotate(360deg);}
}

@-keyframes turbospin {
  0% {transform-origin: center; transform: rotate(0deg);}
  100% {transform-origin: center; transform: rotate(360deg);}
  }

  @-webkit-keyframes turbospin {
      0% {transform-origin: center; transform: rotate(0deg);}
      100% {transform-origin: center; transform: rotate(360deg);}
      }
      @-o-keyframes turbospin {
          0% {transform-origin: center; transform: rotate(0deg);}
          100% {transform-origin: center; transform: rotate(360deg);}
          }
          @-ms-keyframes turbospin {
              0% {transform-origin: center; transform: rotate(0deg);}
              100% {transform-origin: center; transform: rotate(360deg);}
              }
              @-moz-keyframes turbospin {
                  0% {transform-origin: center; transform: rotate(0deg);}
                  100% {transform-origin: center; transform: rotate(360deg);}
                  }


.turbospin {
  
      animation-name: turbospin;
      animation-duration: 0.5s;
      animation-iteration-count: 3;
      animation-timing-function: linear;
  
}


.blue1 {
  display: block;
  background-image:url("/img/blue1.svg");
  position: absolute;
  margin:0;
  padding:0;
  width:366px;
  height:366px;
  background-size:100%;
  background-repeat:no-repeat;
  -webkit-animation: spin1 30s infinite linear;
-moz-animation: spin1 30s infinite linear;
-o-animation: spin1 30s infinite linear;
-ms-animation: spin1 30s infinite linear;
animation: spin1 30s infinite linear;
  /* // iteration; // duration; timing // */
}

  .blue2 {
    background-image:url("/img/blue2.svg");
    position: absolute;
    display: block;
    margin:0;
    padding:0;
    width:366px;
    height:366px;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-animation: spin1 25s infinite linear;
  -moz-animation: spin1 25s infinite linear;
  -o-animation: spin1 25s infinite linear;
  -ms-animation: spin1 25s infinite linear;
  animation: spin1 25s infinite linear;
  }

  .green1 {
    background-image:  url("/img/green1.svg");
    position: absolute;
    display: block;
    margin:0;
    padding:0;
    width:366px;
    height:366px;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-animation: spin1 42s infinite linear;
  -moz-animation: spin1 42s infinite linear;
  -o-animation: spin1 42s infinite linear;
  -ms-animation: spin1 42s infinite linear;
  animation: spin1 42s infinite linear;
  }

  .green2 {
    display: block;
  background-image:  url("/img/green2.svg");
  position: absolute;
  margin:0;
  padding:0;
  width:366px;
  height:366px;
  background-size:100%;;
  background-repeat:no-repeat;
  -webkit-animation: spin1 38s infinite linear;
-moz-animation: spin1 38s infinite linear;
-o-animation: spin1 38s infinite linear;
-ms-animation: spin1 38s infinite linear;
animation: spin1 38s infinite linear;
  }

  .yellow1 {
    display: block;
  background-image:  url("/img/yellow1.svg");
  position: absolute;
  margin:0;
  padding:0;
  width:366px;
  height:366px;
  background-size:100%;;
  background-repeat:no-repeat;
  -webkit-animation: spin1 47s infinite linear;
-moz-animation: spin1 47s infinite linear;
-o-animation: spin1 47s infinite linear;
-ms-animation: spin1 47s infinite linear;
animation: spin1 47s infinite linear;
  }

  .yellow2 {
    display: block;
    background-image:url("/img/yellow2.svg");
    position: absolute;
    margin:0;
    padding:0;
    width:366px;
    height:366px;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-animation: spin1 27s infinite linear;
  -moz-animation: spin1 27s infinite linear;
  -o-animation: spin1 27s infinite linear;
  -ms-animation: spin1 27s infinite linear;
  animation: spin1 27s infinite linear;
  }

  .orange1 {
    display: block;
      background-image:url("/img/orange1.svg");
      position: absolute;
      width:366px;
      height:366px;
      margin:0;
      padding:0;
      background-size:100%;
      background-repeat:no-repeat;
      -webkit-animation: spin1 39s infinite linear;
    -moz-animation: spin1 39s infinite linear;
    -o-animation: spin1 39s infinite linear;
    -ms-animation: spin1 39s infinite linear;
    animation: spin1 39s infinite linear;

  }

  .orange2 {
    display: block;
  background-image:  url("/img/orange2.svg");
  position: absolute;
  margin:0;
  padding:0;
  width:366px;
  height:366px;
  background-size:100%;
  background-repeat:no-repeat;
  -webkit-animation: spin1 6s infinite linear;
-moz-animation: spin1 6s infinite linear;
-o-animation: spin1 6s infinite linear;
-ms-animation: spin1 6s infinite linear;
animation: spin1 6s infinite linear;
  }

  .red1 {
    display: block;
    background-image:url("/img/red1.svg");
    position: absolute;
    width:366px;
    height:366px;
    margin:0;
    padding:0;

    background-size:100%;
    background-repeat:no-repeat;
    -webkit-animation: spin1 22s infinite linear;
  -moz-animation: spin1 22s infinite linear;
  -o-animation: spin1 22s infinite linear;
  -ms-animation: spin1 22s infinite linear;
  animation: spin1 22s infinite linear;
  }

  .red2 {
    display: block;
    background-image:url("/img/red2.svg");
    position: absolute;
    margin:0;
    padding:0;
    width:366px;
    height:366px;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-animation: spin1 17s infinite linear;
  -moz-animation: spin1 17s infinite linear;
  -o-animation: spin1 17s infinite linear;
  -ms-animation: spin1 17s infinite linear;
  animation: spin1 17s infinite linear;
  }

  * {
      margin:0;
      padding:0;
  }

  /* OTHER PAGES */

  /* 
  
  
  
  
  
  
  */

 .textdiv {
  top: 20vh;
  position: absolute;
  }

  .contactdiv {
    top: 55vh;
    position: absolute;
    width: 100%;
  }

  .row {
    width: 100vw;
    margin: 0;
    height: 30vh;
  }

  .lotr {
    width: 100%;
    height: 100%;
    background-image: url("/img/lotr.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .projector {
    position: absolute;
    width: 50%;
    height:50%;
    bottom: -20%;
    left: -10%;
    margin:0;
  }

  .flyinsoup {
    width: 100%;
    height: 100%;
    background-image: url("/img/flyinsoup.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pipboy {
    width: 100%;
    height: 100%;
    background-image: url("/img/pipboy.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .myhero {
    width: 100%;
    height: 100%;
    background-image: url("/img/myhero.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .intelman {
    width: 100%;
    height: 100%;
    background-image: url("/img/intelman.png");
    background-size: contain;
    background-repeat: no-repeat;
  }





















  #DIV_1 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 1036.8px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: center;
    perspective-origin: 518.4px 115px;
    transform-origin: 518.4px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    top: 25%;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 470.375px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: center;
    perspective-origin: 250.188px 115px;
    transform-origin: 250.188px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 15px;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 236.913px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 128.45px 115px;
    transform-origin: 128.45px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 10px;
}/*#DIV_3*/

#DIV_3:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    bottom: 0px;
    color: rgb(97, 97, 97);
    height: 100px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 100px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 50px 50px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50px 50px;
    caret-color: rgb(97, 97, 97);
    animation: flipInX 0.75s ease 0s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_4*/

#DIV_4:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_4:before*/

#DIV_5, #DIV_12, #DIV_20, #DIV_27 {
    color: rgb(97, 97, 97);
    display: inline-block;
    height: 100px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 57.725px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 28.8625px 50px;
    transform-origin: 28.8625px 50px;
    caret-color: rgb(97, 97, 97);
    background: rgb(4, 194, 201) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_5, #DIV_12, #DIV_20, #DIV_27*/

#DIV_5:after, #DIV_12:after, #DIV_20:after, #DIV_27:after {
    bottom: 0px;
    color: rgb(97, 97, 97);
    content: '""';
    display: block;
    height: 100px;
    left: 21.15px;
    position: absolute;
    right: 21.125px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 57.725px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 28.8625px 50px;
    transform: matrix(0.5, -0.866025, 0.866025, 0.5, 0, 0);
    transform-origin: 28.8625px 50px;
    caret-color: rgb(97, 97, 97);
    background: rgb(4, 194, 201) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_5:after, #DIV_12:after, #DIV_20:after, #DIV_27:after*/

#DIV_5:before, #DIV_12:before, #DIV_20:before, #DIV_27:before {
    bottom: 0px;
    color: rgb(97, 97, 97);
    content: '""';
    display: block;
    height: 100px;
    left: 21.15px;
    position: absolute;
    right: 21.125px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 57.725px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 28.8625px 50px;
    transform: matrix(0.5, 0.866025, -0.866025, 0.5, 0, 0);
    transform-origin: 28.8625px 50px;
    caret-color: rgb(97, 97, 97);
    background: rgb(4, 194, 201) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_5:before, #DIV_12:before, #DIV_20:before, #DIV_27:before*/

#I_6 {
    bottom: 27.2px;
    color: rgb(255, 255, 255);
    display: block;
    height: 52.8px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 20px;
    width: 100px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50px 26.4px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 50px 26.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_6*/

#I_6:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_6:after*/

#I_6:before {
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_6:before*/

#DIV_7 {
    color: rgb(97, 97, 97);
    height: 92px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 236.913px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 118.45px 46px;
    transform-origin: 118.45px 46px;
    caret-color: rgb(97, 97, 97);
    animation: fadeIn 0.75s ease 0s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_7*/

#DIV_7:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_7:before*/

#DIV_8 {
    color: rgb(97, 97, 97);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 236.913px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 118.45px 12px;
    transform-origin: 118.45px 12px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    margin: 15px 0px 5px;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_8:before*/

#DIV_9 {
    color: rgb(97, 97, 97);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 236.913px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 118.45px 24px;
    transform-origin: 118.45px 24px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_9*/

#DIV_9:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_9:after*/

#DIV_9:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_9:before*/

#DIV_10 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 193.462px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 106.725px 115px;
    transform-origin: 106.725px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 10px;
}/*#DIV_10*/

#DIV_10:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_10:after*/

#DIV_10:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_10:before*/

#DIV_11 {
    bottom: 0px;
    color: rgb(97, 97, 97);
    height: 100px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 100px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 50px 50px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50px 50px;
    caret-color: rgb(97, 97, 97);
    animation: flipInX 0.75s ease 0.2s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_11*/

#DIV_11:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_11:before*/

#I_13 {
    bottom: 27.2px;
    color: rgb(255, 255, 255);
    display: block;
    height: 52.8px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 20px;
    width: 100px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50px 26.4px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 50px 26.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_13*/

#I_13:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_13:after*/

#I_13:before {
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_13:before*/

#DIV_14 {
    color: rgb(97, 97, 97);
    height: 92px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 193.462px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 96.725px 46px;
    transform-origin: 96.725px 46px;
    caret-color: rgb(97, 97, 97);
    animation: fadeIn 0.75s ease 0.2s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_14*/

#DIV_14:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_14:after*/

#DIV_14:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_14:before*/

#DIV_15 {
    color: rgb(97, 97, 97);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 193.462px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 96.725px 12px;
    transform-origin: 96.725px 12px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    margin: 15px 0px 5px;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_15*/

#DIV_15:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_15:after*/

#DIV_15:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_15:before*/

#DIV_16 {
    color: rgb(97, 97, 97);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 193.462px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 96.725px 24px;
    transform-origin: 96.725px 24px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_16*/

#DIV_16:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_16:after*/

#DIV_16:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_16:before*/

#DIV_17 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 506.425px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: center;
    perspective-origin: 268.212px 115px;
    transform-origin: 268.212px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 15px;
}/*#DIV_17*/

#DIV_17:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_17:after*/

#DIV_17:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_17:before*/

#DIV_18 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 200.675px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 110.338px 115px;
    transform-origin: 110.338px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 10px;
}/*#DIV_18*/

#DIV_18:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_18:after*/

#DIV_18:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_18:before*/

#DIV_19 {
    bottom: 0px;
    color: rgb(97, 97, 97);
    height: 100px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 100px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 50px 50px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50px 50px;
    caret-color: rgb(97, 97, 97);
    animation: flipInX 0.75s ease 0.4s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_19:before*/

#I_21 {
    bottom: 27.2px;
    color: rgb(255, 255, 255);
    display: block;
    height: 52.8px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 20px;
    width: 100px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50px 26.4px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 50px 26.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21*/

#I_21:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21:after*/

#I_21:before {
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21:before*/

#DIV_22 {
    color: rgb(97, 97, 97);
    height: 92px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 200.675px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 100.338px 46px;
    transform-origin: 100.338px 46px;
    caret-color: rgb(97, 97, 97);
    animation: fadeIn 0.75s ease 0.4s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_22*/

#DIV_22:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_22:after*/

#DIV_22:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_22:before*/

#DIV_23 {
    color: rgb(97, 97, 97);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 200.675px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 100.338px 12px;
    transform-origin: 100.338px 12px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    margin: 15px 0px 5px;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_23*/

#DIV_23:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_23:after*/

#DIV_23:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_23:before*/

#DIV_24 {
    color: rgb(97, 97, 97);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 200.675px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 100.338px 24px;
    transform-origin: 100.338px 24px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_24*/

#DIV_24:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_24:after*/

#DIV_24:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_24:before*/

#DIV_25 {
    color: rgb(97, 97, 97);
    display: flex;
    height: 230px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 265.75px;
    column-rule-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 142.875px 115px;
    transform-origin: 142.875px 115px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
    padding: 0px 10px;
}/*#DIV_25*/

#DIV_25:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_25:after*/

#DIV_25:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_25:before*/

#DIV_26 {
    bottom: 0px;
    color: rgb(97, 97, 97);
    height: 100px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    top: 0px;
    width: 100px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 50px 50px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50px 50px;
    caret-color: rgb(97, 97, 97);
    animation: flipInX 0.75s ease 0.6s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_26*/

#DIV_26:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_26:after*/

#DIV_26:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_26:before*/

#I_28 {
    bottom: 27.2px;
    color: rgb(255, 255, 255);
    display: block;
    height: 52.8px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 20px;
    width: 100px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50px 26.4px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 50px 26.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_28*/

#I_28:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_28:after*/

#I_28:before {
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 53.3333px / 53.3333px "Material Design Icons";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_28:before*/

#DIV_29 {
    color: rgb(97, 97, 97);
    height: 92px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 265.75px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 132.875px 46px;
    transform-origin: 132.875px 46px;
    caret-color: rgb(97, 97, 97);
    animation: fadeIn 0.75s ease 0.6s 1 normal both running;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_29*/

#DIV_29:after {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_29:after*/

#DIV_29:before {
    color: rgb(97, 97, 97);
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_29:before*/

#DIV_30 {
    color: rgb(97, 97, 97);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 265.75px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 132.875px 12px;
    transform-origin: 132.875px 12px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    margin: 15px 0px 5px;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_30*/

#DIV_30:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_30:after*/

#DIV_30:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 500 normal 24px / 24px Raleway-bold;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_30:before*/

#DIV_31 {
    color: rgb(97, 97, 97);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    width: 265.75px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 132.875px 24px;
    transform-origin: 132.875px 24px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_31*/

#DIV_31:after {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_31:after*/

#DIV_31:before {
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none solid rgb(97, 97, 97);
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 16px / 24px Raleway;
    outline: rgb(97, 97, 97) none 0px;
}/*#DIV_31:before*/



