@font-face {
  font-family: '4b';
  src: url('./04B.TTF');

}

@font-face {
  font-family: 'Asap';
  src: url('https://fonts.googleapis.com/css?family=Asap');

}

body {
  background-size: contain  !important;
  background-repeat: 'no-repeat'  !important;
  font-family: 'Asap'
}


.contactdiv {
  top: 90vh;
}



.digital {
  font-family: '4b';
  color: rgb(226, 226, 226);
}

u {
  font-size: 1.8em;
}

p {
  display: inline-block;
  margin-left: 45px;
  color: rgb(216, 214, 221);
}

h1 {
  color: rgb(213, 209, 223);
}

.learnmore, .learnless {
  position: relative;
  left: 10vw;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  background-color: grey;
  top:10vh !important;
}



.firstp {
  position: relative;
  left: 10%;
  font-size: 1em;
}

.more {
  position: relative;
  top: 130%;
}

.secondp {
  position: relative;
  left: 25%;
  font-size: 1em;
}

.thirdp {
  position: relative;
  left: 15%;
  font-size: 1em;
}

p {
  font-size: 1.4em;
}


.learnmore {
  position:relative;
  left: 30vw;
  background-color: grey;

}

#contact-form {
  position: relative;
  top: 20vh;
  width: 60vw;
  height: 70vh;
  left: 10vw;
}

h1{
  color: white;
}

.submitform {
  position: relative;
  bottom: 10% !important;
}

#email {
  bottom: 0 !important;
  position: absolute !important;
  opacity: 1 !important;
  width: 400px !important;
  height: 70px !important;
  border: white !important;
  cursor: text;
  display: block;
  background: rgb(221, 216, 216) !important;

}

#name {
  background: rgb(221, 216, 216) !important;
  bottom: 75px;
  border-radius: inherit !important;
}

.emailabel {
  bottom: -14vh !important;
  position: relative !important;
  opacity: 1 !important;
  display: block;
}

#message {
  background: rgb(221, 216, 216) !important;
  width: 500px;
}

.nameaddressrow {
  height: 35vh;
}

.contactstuff {
  background-color: white;
  width: 80vw !important;
}

.abouttext {
  background-color: grey;
  padding: 20px;
  text-align: center;
  color: rgb(170, 160, 160);
}




