@font-face {
  font-family: '4b';
  src: url('./04B.TTF');

}
body {
  background-image: url('/img/sky.jpg')  !important;
  background-size: contain  !important;
  background-repeat: 'no-repeat'  !important;
}


.contactdiv {
  top: 70vh;
}



.digital {
  font-family: '4b';
  color: rgb(87, 230, 87);
}

u {
  font-size: 1.2em;
}

p {
  display: inline-block;
  margin-left: 45px;
}

.btn {
  position: relative;
  left: 10vw;
}

.learnmore {
  position:relative;
  left: 30vw;
}

.firstp {
  position: relative;
  left: 10%;
}

.secondp {
  position: relative;
  left: 30%;
}

.thirdp {
  position: relative;
  left: 15%;
}



