

  .announcerow {
    top: 20vh !important;
    position: absolute !important;
  }

  .namerow {
    position: absolute !important;
    top: 60vh !important;

  }

  button {
    position: absolute !important;
    top: 0 !important;
  }



input[type=text] {
  opacity: 1 !important;
  width: 400px  !important;
  height: 70px  !important;
  background-color: rgb(65, 48, 63) !important;
  border: #34495e !important;
  cursor: text;
  border-radius: 25px !important;

}
  