.page-footer {
    position: absolute;
    bottom: -30vh;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 5;
}

.footertext, .cp {
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;

}

.footertext > strong {
    color: rgb(255, 255, 255);
}

.footertext {
    color: rgb(196, 195, 195);
}

.footerlink {
    color: rgb(139, 144, 168);
}

nav {
    width: 100vw !important;
}



