img {
    padding:18px;
    width: 150px;
}

.bodytext {
    float:left;
}

figure {
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
}



@media only screen and (min-width: 250px) {
    img {
        padding:18px;
        width: 350px;
        padding-bottom:100px;
    }
  
    .body {
          width:100vw;
          height:100vh;
          background-image:url("concretebr.png");
        }
        .page {
          height:100vh;
          background-image:url("concretebr.png");
        }
        
        
        .topbar {
          width:100vw;
          height:10%;
          background-color:#ffffff;
          position: absolute;
          top:0;
          border-bottom:solid;
          border-width: 1px;
          overflow:hidden;
          margin-left:0;
          padding-left:0;
        }
        
        .name {
          height:10%;
          width:12em;
          position:absolute;
          top:0;
          margin-left:0;
          padding-left:0;
          left:0;
          padding:1em;
          text-align:center;
          background:#4aaaa5;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:white;
          overflow:hidden;
        
        }
        
        
        .about {
          height:3em;
          width:8em;
          position:absolute;
          left:12em;
          top:4em;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777; 
        }
  
        form {
          margin-bottom:150px;
        }
          
          
        
        
        a {
          color:#777777;
          text-decoration:none;
        }
        
        a:hover {
          text-decoration:underline;
        }
        
        .button {
          background-color: #4aaaa5;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        
        .portfolio {
          height:3em;
          width:12em;
          position:absolute;
          left:24em;
          top:0;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777;
          margin:0;
          padding:1em;
        }
        
        .contact {
          height:3em;
          width:12em;
          position:absolute;
          left:16em;
          top:4em;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777;
          margin:1em;
          padding:1em;
        } 
        
        .bodytext {
          width:80%;
          height:auto;
          background:#ffffff;
          left:5%;
          top:10%;
          position:absolute;
          margin-bottom:3em;
          padding-left:2em;
          padding-right:2em;
          margin-top:3em;
          border:solid;
          border-width: 1px;
          border-color: #dddddd;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }
        
        form {
          padding:10px;
          margin:10px;
        }
        
        .messagebox {
          height:200px;
        }
        
        .bodytitle {
          font-size:2em;
          margin:1em;
          padding-bottom:1em;
          border-bottom-style:solid;
          border-bottom-width:5px;
          border-color:#dddddd;
        }
        
        img {
          width:240px;
          height:auto;
          float:left;
          clear:both;
        }
        
        p {
          float:right;
          position:relative;
          width:auto;
          top:0px;
          display:flex;
        }
        
        .bottombanner {
          height:30px;
          width:100vw;
          background:#666666;
          position:fixed;
          bottom:0;
          left:0;
          text-align:center;
          color:white;
          margin-bottom:0px;
          padding-bottom:0px;
          padding-top:20px;
          border-top:solid;
          border-width:7px;
          border-color:#4aaaa5;
        }
        
        
        
        div {
          color:#777777;
        }
        
        .bodytitle {
          color:#4aaaa5;
        }
  
    }  
    @media only screen and (min-width: 760px) {
        .topbar {
          width:100vw;
          height:10%;
          background-color:#ffffff;
          position: absolute;
          top:0;
          border-bottom:solid;
          border-width: 1px;
          overflow:hidden;
          margin-left:0;
          padding-left:0;
        }
        
        .name {
          height:10%;
          width:12em;
          position:absolute;
          top:0;
          margin-left:0;
          padding-left:0;
          left:0;
          padding:1em;
          text-align:center;
          background:#4aaaa5;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:white;
          overflow:hidden;
        
        }
        
        
        .about {
          height:3em;
          width:12em;
          position:absolute;
          left:12em;
          top:0;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777;
          margin:1em;
          margin-top:0;
          padding-top:0;
        }
      
        form {
          margin-bottom:150px;
        }
          
          
        
        
        a {
          color:#777777;
          text-decoration:none;
        }
        
        a:hover {
          text-decoration:underline;
        }
        
        .button {
          background-color: #4aaaa5;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        
        .portfolio {
          height:3em;
          width:12em;
          position:absolute;
          left:28em;
          top:0;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777;
          margin:0;
          padding:1em;
          padding-bottom:0;
        }
        
        .contact {
          height:3em;
          width:12em;
          position:absolute;
          left:36em;
          top:0;
          text-align:center;
          background:white;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-weight:bold;
          color:#777777;
          margin:1em;
          margin-top:0;
          padding-top:0;
          }

          @media only screen and (min-width: 900px) {

            .topbar {
              width:100vw;
              height:11vh;
              background-color:#ffffff;
              position: absolute;
              top:0;
              border-bottom:solid;
              border-width: 1px;
            }
            
            .name {
              height:11vh;
              width:120px;
              position:relative;
              left:120px;
              float:center;
              top:0;
              padding:30px 10px 20px 10px;
              text-align:center;
              background:#4aaaa5;
              font-family:Georgia, 'Times New Roman', Times, serif;
              font-weight:bold;
              color:white;
            
            }
            
            
            .about {
              height:50px;
              width:120px;
              position:absolute;
              left:1060px;
              top:0;
              padding:30px 10px 20px 10px;
              text-align:center;
              background:white;
              font-family:Georgia, 'Times New Roman', Times, serif;
              font-weight:bold;
              color:#777777; 
            }
              
              
            }
            
            a {
              color:#777777;
              text-decoration:none;
            }
            
            a:hover {
              text-decoration:underline;
            }
            
            .button {
              background-color: #4aaaa5;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
            .portfolio {
              height:50px;
              width:120px;
              position:absolute;
              left:820px;
              top:0;
              padding:30px 10px 20px 10px;
              text-align:center;
              background:white;
              font-family:Georgia, 'Times New Roman', Times, serif;
              font-weight:bold;
              color:#777777;
            }
            
            .contact {
              height:50px;
              width:120px;
              position:absolute;
              left:940px;
              top:0;
              padding:30px 10px 20px 10px;
              text-align:center;
              background:white;
              font-family:Georgia, 'Times New Roman', Times, serif;
              font-weight:bold;
              color:#777777;
            }
      
            .body {
              width:100vw;
              height:auto;
            }
            
            form {
      
            padding:2em;
            }
            
            .page {
              height:120vh;
              background-image:url("concretebr.png");
            }
          } 