.body {
  width:960px;
  height:100vh;
}



.page {
  height: 960px;
  background-image:url("concretebr.png");
}


.topbar {
  width:100%;
  height:280px;
  background-color:#ffffff;
  position: absolute;
  top:0;
  border-bottom:solid;
  border-width: 1px;
}

.name {
  height:50px;
  width:120px;
  position:relative;
  left:120px;
  float:center;
  top:0;
  padding:30px 10px 20px 10px;
  text-align:center;
  background:#4aaaa5;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  color:white;

}


.about {
  height:50px;
  width:120px;
  position:absolute;
  left:1060px;
  top:0;
  padding:30px 10px 20px 10px;
  text-align:center;
  background:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  color:#777777; 
}
  
  


a {
  color:#777777;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.portfolio {
  height:50px;
  width:120px;
  position:absolute;
  left:820px;
  top:0;
  padding:30px 10px 20px 10px;
  text-align:center;
  background:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  color:#777777;
}

.contact {
  height:50px;
  width:120px;
  position:absolute;
  left:940px;
  top:0;
  padding:30px 10px 20px 10px;
  text-align:center;
  background:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  color:#777777;
} 

.bodytext {
  width:960px;
  height:auto;
  background:#ffffff;
  left:120px;
  top:80px;
  position:absolute;
  margin-bottom:200px;
  padding-left:30px;
  padding-right:30px;
  margin-top:30px;
  border:solid;
  border-width: 1px;
  border-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form {
  padding:10px;
  margin:10px;
}

.messagebox {
  height:200px;
}

.bodytitle {
  font-size:2em;
  margin:1em;
  padding-bottom:1em;
  border-bottom-style:solid;
  border-bottom-width:5px;
  border-color:#dddddd;
}

img {
  width:240px;
  height:auto;
  float:left;
  clear:both;
}

p {
  float:right;
  position:relative;
  width:auto;
  top:0px;
  display:flex;
}

.bottombanner {
  height:30px;
  width:100vw;
  background:#666666;
  position:fixed;
  bottom:0;
  left:0;
  text-align:center;
  color:white;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:20px;
  border-top:solid;
  border-width:7px;
  border-color:#4aaaa5;
}



div {
  color:#777777;
}

.bodytitle {
  color:#4aaaa5;
}







   